<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <startup>
            
        </startup>
        <system.serviceModel>
                <bindings>
                        <netTcpBinding>
                                <binding name="NetTcpBinding_IDataProvider" transactionFlow="true" maxReceivedMessageSize="1073741824">
                                        <reliableSession enabled="true" />
                                        <security mode="Message" />
                                </binding>
                        </netTcpBinding>
                </bindings>
                <client>
                        <endpoint address="net.tcp://localhost:8733/CFAPService" binding="netTcpBinding"
                                bindingConfiguration="NetTcpBinding_IDataProvider" contract="DataProviderClient.IDataProvider"
                                name="NetTcpBinding_IDataProvider">
                                <identity>
                                        <userPrincipalName value="y.kalinichenko@office.lo" />
                                </identity>
                        </endpoint>
                </client>
        </system.serviceModel>
</configuration>